<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>packages_calculator</name>
	<displayName><![CDATA[Packages and Calculator]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[This module if for change way for show quantities in frontend, like packages and calculator]]></description>
	<author><![CDATA[Alekuoshu]]></author>
	<tab><![CDATA[front_office_features]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
